body {
    min-height: 100%;
}

.game-area {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.buttons-area {
    display: flex;
    flex: 1;
    justify-content: space-between;
    gap: 50px;
}

.score-area {
    font-size: 50px;
}

.info-area {
    white-space: pre-line;
    font-size: 25px;
}

.game-over-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.game-over-msg {
    font-size: 30px;
}

button:hover {
    background-color: orange;
    transition: 0.5s;
}

button#play-again {
    max-width: 200px;
    font-size: 20px;
}